extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert-success(5000)
    h1(class="mb-4") Danh sách người dùng không phải bạn bè
    include ../../partials/list-btn-user.pug

    .row 
        each user in accounts
            .col-md-4.mb-3
                .card.shadow-sm(style="border:none; background:#fff;")
                    .card-body.p-3
                        img(src=user.avatar ? user.avatar : "/images/avatar trang.jpg", alt=user.fullName, width="60", height="60", class="rounded-circle mb-2")
                        h5 #{user.fullName}
                        div(class= "inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-status" data-user-status=user._id)
                                if user.statusOnline
                                    span.text-success Online
                                else
                                    span.text-secondary Offline
                            div(class="inner-buttons")
                                button(
                                    class="btn btn-primary"
                                    type="button"
                                    style ="display:none;"
                                    btn-add-friend = user._id
                                ) Thêm bạn bè
                                a(
                                    href=prefixAdmin + "/user/" + user._id
                                    class="btn btn-info"
                                ) Xem chi tiết
                                button(
                                    class="btn btn-danger"
                                    type="button"
                                    btn-remove-friend = user._id
                                ) Huỷ kết bạn 
                                a(href="/chat/" + user.roomChatId, class="btn btn-success") Nhắn tin
                                
block scripts
    script(src="/admin/js/user.js")
    