extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    
    +alert-error(5000)
    h1 Thêm danh mục mới
    form(
        action=prefixAdmin + '/products-category/create'
        method='POST'
        id="form-create-category"
        enctype="multipart/form-data"
    ) 
        .form-group
            label(for="title") Tên danh mục
            input(type="text", name="title", id="title", class="form-control", required)
        
        .form-group
            label(for="editor-container") Mô tả
            #editor-container(style="height: 300px; margin-bottom: 15px;")
            textarea(name="description", id="description", class="form-control", rows="4",style="display: none;")
        
        .form-group
            label(for="parent") Danh mục cha
            select(class="form-control", id="parentId", name="parentId")
                option(value="") Chọn danh mục cha
                if(productsCategory)
                    +select-tree(productsCategory)

        div(
            class="form-group"
            upload-image
        
        )
            label(for="thumbnail") Ảnh đại diện
            
            input(type="file", name="thumbnail", id="thumbnail", class="form-control-file", accept="image/*",upload-image-input)
            // Nút X để huỷ ảnh
            button(type="button", class="btn btn-danger btn-sm position-absolute", style="display:none;", upload-image-remove) ×
            img(src="", alt="", upload-image-preview, style="display: none; width:100px; height:100px; object-fit:cover;")
    
        .form-group
            label(for="sort") Thứ tự
            input(type="number", name="position", id="position", class="form-control", min="1")
        
        .form-group.form-check.form-check-inline 
            input(type="radio", name="status", id="statusActive", class="form-check-input", value="active", checked)
            label.form-check-label(for="statusActive") Hoạt động
        .form-group.form-check.form-check-inline
            input(type="radio", name="status", id="statusInactive", class="form-check-input", value="inactive")
            label.form-check-label(for="statusInactive") Không hoạt động
        .form-group
            button.btn.btn-primary(type="submit") Tạo danh mục
        
    block scripts
        script(src="/admin/js/quill-editor.js")
        script(src="/admin/js/products.js")