.row 
            .col-12 
                a(
                    href=prefixAdmin + "/user/not-friend"
                    class="btn btn-secondary mb-3"
                ) Danh sách người dùng 
                a(
                    href= prefixAdmin + "/user/friends", 
                    class="btn btn-primary mb-3"
                    ) Bạn bè
                a(
                    href= prefixAdmin + "/user/requests", 
                    class="btn btn-info mb-3"
                ) Lời mời đã gửi
                a(
                    href= prefixAdmin + "/user/accept", 
                    class="btn btn-warning mb-3"
                ) Lời mời đã nhận